---
// Fixed top navigation. #nav id is used by the scroll script for the solid state.
---
<header class="nav" id="nav">
  <a href="#top" class="brand"><b>22cowork</b><span class="b-cur"></span></a>
  <nav class="links">
    <a href="#space">Space</a>
    <a href="#work">Work</a>
    <a href="#spec">Building</a>
    <a href="#tour">Tour</a>
    <a href="#visit" class="nav-cta">Book a visit</a>
  </nav>
  <a href="#visit" class="burger">Visit</a>
</header>
