---
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { siteMetadata } from "../config/content";

interface Props {
  title?: string;
  description?: string;
}

const { title: defaultTitle, description: defaultDescription } = siteMetadata;
const { title = defaultTitle, description = defaultDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navigation />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
